

.site-main__heading {
    margin: 0;
    padding: 25px 0;
    position: relative;
    text-align: center;
    font-size: 24px;
    color: rgba(221, 221, 221, 0.867);
}

.site-main__heading::before {
    border: 1px solid rgba(221, 221, 221, 0.867);
    width: 150px;
    content: "";
    position: absolute;
    z-index: 1;
    top:50%;
    left: 50px;
}

.site-main__heading::after {
    border: 1px solid rgba(221, 221, 221, 0.867);
    width: 150px;
    content: "";
    position: absolute;
    z-index: 1;
    top:50%;
    right: 50px;
    
}


.site-main__content {
    margin: 0;
}

.site-main__list {
    margin-bottom: 0;
    padding-bottom: 25px;
}

.site-main__item:nth-child(1) {
    max-width: 400px;
    height: 40px;
    padding: 10px;
    background-color: rgb(230,237,246);
    border-radius: 5px;
    position: relative;
}

.site-main__item:nth-child(1)::before {
    position: absolute;
    top: 0px;
    left: -16px;
    content: "";
    @include triangle-up(16px, rgb(230,237,246) )
}

.site-main__item:nth-child(2) {
    max-width: 500px;
    height: 40px;
    margin-top: 30px;
    margin-left: 150px;
    padding: 10px;
    padding-left: 0;
    position: relative;
    background-color: rgb(242,242,242);
    border-radius: 5px;
}

.site-main__item:nth-child(2)::before {
    position: absolute;
    top: 0px;
    right: -16px;
    content: "";
    @include triangle-up (16px, rgb(242,242,242) );
}

.site-main__item:nth-child(3) {
    position: relative;
    max-width: 150px;
    height: 40px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(230,237,246);
    border-radius: 5px;
} 

.site-main__item:nth-child(3)::before {
    position: absolute;
    top: 0px;
    left: -16px;
    content: "";
    @include triangle-up(16px, rgb(230,237,246) )
}

.site-main__item:nth-child(4) {
    max-width: 250px;
    height: 40px;
    margin-top: 30px;
    margin-left: 310px;
    padding: 10px;
    background-color: rgb(255,194,193);
    border-radius: 5px;
}

.site-main__time {
    position: absolute;
    top: -22px;
}